---
---

@import "{{ site.theme }}";

// Custom styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  right: 20px;
  left: 20px;
  
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
  padding: 0;
  margin: 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
}

.navbar ul li {
  display: inline;
  margin: 0 10px; /* Adjust this value if needed */
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
  padding: 14px 20px;
  display: inline-block;
}

.navbar ul li a:hover {
  background-color: #ddd;
}

/* Adjust the wrapper to account for the fixed navbar */
.wrapper {
  padding-top: 50px; /* Adjust this value if your navbar height changes */
  width: 1159px
  margin-left: 0px; /* Remove space on the left and right */
  margin-right: 0px;
  padding: 0; /* Remove space inside the wrapper */
}

/* Remove default margin and padding from body */
body {
  margin: 0;
  padding: 0;
}

/* Remove padding from header, section, and footer */
header {
  width: 270px;
  height: 270px;
  margin: 0px;
  padding: 0px;
}

section {
  width: 869px;
  height: auto;
  padding: 0px;
  
}

footer {
  width: 270px;
  height: 270px;
  margin: 0px;
  padding: 0px;
}
